@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700,900|Press+Start+2P');
* {
  box-sizing: border-box;
}

@font-face {
  font-family: SignPainterSlant;
  src: url(../fonts/SignPainterHouseSlant_Regular/SignPainterHouseSlant_Regular.ttf);
}

@font-face {
  font-family: Ginto;
  src: url(../fonts/ginto-font-family/ABCGintoNormalVariable-Trial-BF651b7b7af3067.ttf);
}

html {
  margin: 0;
  padding: 0;
  --brand-orange: #ea4c33;
  --brand-tan: #f1e3ca;
  --text-white: #ffffff;
  --featured-yellow: #ffd272;
  --font-sans-serif: "Assistant", sans-serif;
  --font-serif: "Lora", serif;
  --font-cursive: "Caveat", cursive;
  --font-gelica: "gelica", sans-serif
}

/* FONTS 
Ginto Light by ABC Dinamo, 
Sign Painter Slant by House Industries, 
and Gelica by Dave Rowland Type 
(this last one is available through Adobe Fonts).
*/

body {
  font-family: var(--font-sans-serif);
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background-color: #f1e3ca;
}

:root {
  --logo-font-size: 5.9rem;
  --logo-margin-left: -0.06em;
  --logo-line-height: 0.75;
}

a {
  text-decoration: none;
  color: var(--brand-orange);
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  z-index: -1;
}

/* Discount Bar */
.discount {
  color: var(--text-white);
  background: var(--brand-orange);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-family: Ginto;
}

/* Nav */
.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-list__item {
  border: 1px solid var(--brand-orange);
  width: 100%;
  text-align: center;
  padding: 5px 0 5px 0;
  margin: 0;
  font-family: var(--font-gelica);
  font-size: 16px;
  font-weight: 500;
}

/* Logo Bar */
.nav-title {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
}

.title-list {
  display: grid;
  grid-template-columns: .4fr 5fr .185fr .3fr;
  grid-template-areas: 
    "left-icon heading account cart";
  margin: 15px;
}

.title-list__search {
  grid-area: left-icon;
  grid-row: 2;
  margin: 0;
  padding: 0;

}

.site-title {
  color: var(--brand-orange);
  margin: 0;
  grid-area: heading;
  text-transform: uppercase;
  justify-self: center;
  font-size: 35px;

}

.title-list__icons {
  grid-row: 2;
  justify-self: end;
  align-items: center;
}


.account {
  grid-area: account;
}

.cart {
  padding: 4px;
  border: 2.5px solid var(--brand-orange);
  border-radius: 7px;
  grid-area: cart;
  align-self: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: SignPainterSlant;
  font-size: 18px;
}

.cart:hover {
  color: var(--text-white);
  background-color: var(--brand-orange);
}

.fa-magnifying-glass {
  font-size: 30px;
  align-self: center;

}

.fa-user {
  font-size: 25px;
  align-self: center;
}

/* Hero Section */

.container {
  margin: 15px;
  position: relative;
  height: 1200px;
}

.container img{
  border-radius: 10px;
  position: absolute;
}

.quote-on {
  position: absolute;
  color: var(--text-white);
  top: 30px;
  left: 40px;
}

.hero {
  position: relative;
}

.hero-img {
  height: 665px;
  width: 1400px;
  object-fit: none;
}


.hero-quote {
  font-family: var(--font-gelica);
  font-size: 50px;
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: .98;
}

.hero-subquote {
  font-family: Ginto;
  font-size: 16px;
  line-height: 0.3px;
  font-weight: 100;
  padding-bottom: 10px;
}

.button-hero{
  color: var(--text-white);
  text-transform: uppercase;
  border-bottom: 2px solid var(--text-white);
  margin: 10px 10px 5px 0;
  letter-spacing: 2px;
  font-family: Ginto;
  font-size: 13px;
  font-weight: 800;
}

.cartoon1 {
  max-height: 200px;
  position: absolute;
  top: 433px;
  left: -38px;
}

/* Shop Quote Section */
.shop-section {
  text-align: center;
  color: var(--brand-orange);
  max-width: 35rem;
  margin: auto;
  padding: 0 1rem;
  margin-bottom: 150px;
  margin-top: 150px;

}

.quote1 {
  font-style: italic;
  font-size: 40px;
  margin-bottom: 0;
  line-height: .95;
  font-weight: 40;
  font-family: var(--font-gelica);
  font-weight: 200; 
}

.quote2 {
  font-size: 40px;
  margin-top: 0;
  line-height: .95;
  font-weight: 400;
  font-family: var(--font-gelica);
  font-style: normal;
  font-weight: 200;
}

.button-shopnow {
  border-bottom: 2px var(--brand-orange) solid;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: Ginto;
  font-weight: 800;
  letter-spacing: 2.75px;
  text-transform: uppercase;
}

  /* Christmas and Best Sellers section */
  .best-sellers {
    max-width: 1300px;
}

  .title {
    font-family: var(--font-gelica);
    color: var(--brand-orange);
    text-align: center;
    font-size: 40px;
    margin: 3.5vw;
    font-weight: 300;
  }
  
  .flat-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
  }
  
  .flat-list > * {
    flex: 1;
  }
  
  .post {
    position: relative;
  }

  .post__blend-image {
    max-height: 400px;
  }

  /* Text under coffe bag */
.post__blend-name {
  font-size: 28px;
  font-family: Ginto;
  font-weight: 800;
  margin-bottom: 0;
}

.post__blend-price {
  text-transform: uppercase;
  font-size: 22px;
  padding: 0;
  margin-top: 10px;
  font-family: SignPainterSlant;
  font-style: italic;
  letter-spacing: .8px;
  font-weight: lighter;
}

/* Image on Hover */
.post:hover img{
  max-width: 105%;
}

/* Nav Arrows */
.nav__arrows-left , .nav__arrows-right {
  color: var(--brand-orange);
  height: 5vw;
}

.nav__arrows-left {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 30px;
}

.nav__arrows-right {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 30px;
}

.banner {
  background-color: var(--brand-orange);
  color: var(--brand-tan);
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: SignPainterSlant;
  font-size: 26px;
  padding: 10px;
}

.hero-quote2 {
  color: var(--brand-tan);
  font-family: var(--font-gelica);
  font-weight: 500;
  font-size: 46px;
  max-width: 600px;
  line-height: normal;
  margin-bottom: 20px;
}

.button-shopnow__pic {
  border-bottom: var(--brand-tan) 2px solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--brand-tan);
  margin-top: 0;
  padding-top: 0;
}

.hero-img {
  height: 665px;
  width: 1400px;
  object-fit: cover;
}

/* Featured Section */

.featured {
  background-color: var(--featured-yellow);
  height: 190px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.featured h2 {
  align-self: center;
  padding-left: 0;
  margin-left: 0;
  font-family: Gelica;
  font-size: 22px;
  padding-right: 0;
  margin-right: 0;
  color: black;
}

.featured-article {
  width: 200px;
}

.post {
  align-self: center;
}

.nav__arrows2 {
  align-self: center;
  padding: 0;
  margin: 0;
  max-width: 40px;
}

.nav__arrows-left2 , .nav__arrows-right2 {
  color: var(--brand-orange);
  width: 2px;
}

.nav__arrows-left2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.nav__arrows-right2 {
  font-size: 30px;
  max-width: 20px;
}


/* What customers are saying section */
.customer {
  background-color: #9a4736;
  margin-top: 0;
}

.customer-flex {
  display: flex;
}

.cust-title {
  text-align: center;
  color: var(--text-white);
  font-family: var(--font-gelica);
  font-size: 32px;
  font-weight: 100;
  padding: 75px 0 50px 0;
}

.stars {
font-size: 36px;
text-align: center;
}

.customer-feedback {
  color: var(--text-white);
  text-align: center;
  font-size: 32px;
}

.customer-quote {
  font-family: Ginto;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
}

.customer-name {
  font-family: var(--font-gelica);
  font-size: 22px;
  margin-top: 0;
}

.center {
  margin-left: 170px;
  margin-right: 170px;
  color: var(--brand-orange);
  text-align: center;
}

.title-sans {
  font-family: sans-serif;
  font-size: 46px;
}

.title-serif {
  font-family: var(--font-gelica);
  font-size: 46px;
}

.center p {
  font-family: var(--font-gelica);
  font-size: 16px;
}

/* Coffee Club Subscriptions */

.subscription_img {
  width: 425px;
  border-radius: 10px;
}

.subtitle {
  font-size: 36px;
  font-family: Ginto;
  font-weight: 900;
  width: 300px;
  text-align: center;
}

.subscription p {
  width: 350px;
  font-size: 13px;
  font-family: Ginto;
  font-weight: 100;
  text-align: center;
}

.subscription a {
  text-align: center;
}

.subscriptions {
  display: flex;
}

.subscription {
  text-align: center;
  padding: 50px;
}

/* Run Club */
.run_club {
  background-color: var(--featured-yellow);
  margin: 0;
}

.run_club_info {
  list-style: none;
  font-size: 15px;
  font-family: var(--font-gelica);
  color: #513B25;
  text-align: center;
  width: 470px;
  padding-top: 50px;
}

.run_club_flex {
  display: flex;
}

.run_club_img {
  max-width: 500px;
  z-index: 10;
  border-radius: 12%;
  padding: 100px 0 100px 100px;
}

.club_title {
  font-family: Ginto;
  font-size: 46px;
  color: #513B25;
  font-weight: 900;
}

.button-more {
  text-transform: uppercase;
  font-family: Ginto;
  font-size: 13px;
  border-bottom: 2px black solid;
  color: #513B25;
  font-weight: 900;
  letter-spacing: 2.5px;
  padding-bottom: 5px;
}

.banner {
  margin: 0;
}

/* Dine with Us */
.dine-in {
  border-bottom: 1px lightgray solid;
}
.dine-in-flex {
  display: flex;
  max-width: 1300px;
  padding: 200px;
}

.dine-title {
  font-family: var(--font-gelica);
  font-size: 50px;
  color: var(--brand-orange);
  font-weight: 300;
}

.dine-in-img {
  max-width: 500px;
  border-radius: 6%;
}

.dine-in-info {
  list-style: none;
  color: var(--brand-orange);
  font-family: Ginto;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

/* Newsletter */
.newsletter {
  list-style: none;
  text-align: center;
}

.newsletter_img {
  width: 250px;
  text-align: center;
}

.newsletter-title {
  color: var(--brand-orange);
  font-size: 46px;
  font-family: Ginto;
  font-weight: 800;
}

.newsletter p {
  color: var(--brand-orange);
  font-family: var(--font-gelica);
  font-size: 16px;
  font-weight: 100;
}

.input {
  font-family: var(--font-gelica);
  font-size: 16px;
}

input[type=text] {
  background-color: #f5c4a5;
  color: #f5c4a5;
}

::placeholder {
  color: var(--brand-orange);
}

.site-title__footer {
  text-transform: uppercase;
  text-align: center;
  margin-top: 210px;
  margin-bottom: 125px;
  font-size: 70px;
  color: var(--brand-orange);
}

.location-info {
  text-align: center;
}

.location-list {
  display: flex;
  color: var(--brand-orange);
  padding: 0;
  margin: 0;
}

.location {
  list-style: none;
  border-right: 1px solid var(--brand-orange);
  text-align: center;
  min-width: 255px;
}

.location-name {
  font-size: 17px;
  padding-bottom: 10px;
}

.location-address {
  font-family: var(--font-gelica);
  font-size: 16px;
}

.date-time {
  font-family: var(--font-gelica);
  font-size: 16px;
  padding-top: 10px;
  line-height: 22px;
}

.contact-info li {
  padding-bottom: 7px;
  font-family: var(--font-gelica);
  font-size: 16px;
  padding-top: 10px;
  line-height: 22px;
}



.social-media {
  max-width: 150px;
  text-align: center;
  margin-top: 200px;
}

.social-flat-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 100px;
}

.flat-list__social {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 20px;
}

.copywrite {
  font-size: 14px;
  text-align: center;
  color: var(--brand-orange);
  font-family: Ginto;
  font-weight: 100;
}



/* Hardlines italic font
@font-face {
  font-family: 'serif-normal';
  src: url('//hard-lines.co.uk/cdn/shop/t/28/assets/gelica-regular-webfont.woff?v=19367445843426456781692608483') format('opentype');
  src: url('//hard-lines.co.uk/cdn/shop/t/28/assets/gelica-regular-webfont.woff?v=19367445843426456781692608483') format("woff"),
        url('//hard-lines.co.uk/cdn/shop/t/28/assets/gelica-regular-webfont.woff2?v=56589602232105115391692608483') format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

*/