<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="main.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://use.typekit.net/tzc3fwh.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Fuggles&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ab21451a32.js" crossorigin="anonymous"></script>

        <title>Hardlines Components</title>
    </head>

    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>
            <p class="gelica">Gelica Font</p>
            <p class="signpainter">Sign Painter Slant Font</p>
            <p class="ginto">Ginto Font</p>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <div class="component__img">
                <img
                    srcset="../hardlines-exercise1/landing/main nav.png 2x"
                    src="../hardlines-exercise1/landing/main nav.png"
                    alt="hardlines coffee main nav"
                >
            </div>
            <div class="component__code">
                <!--Discount Bar-->
                <h3 class="discount">&#10024 20% Off Your First Subscription Use SAVE20 &#10024</h3>

                <!--Nav-->
                <header class="navbar">
                    <ul class="nav-list">
                        <li class="nav-list__item"> <a href="#!">Subscriptions </a></li>
                        <li class="nav-list__item"> <a href="#!">Shop </a></li>
                        <li class="nav-list__item"> <a href="#!">About Us</a></li>
                        <li class="nav-list__item"> <a href="#!">Locations</a></li>
                        <li class="nav-list__item"> <a href="#!">Wholesale</a></li>
                    </ul> 
                        <div class="title-list">
                            <a class="title-list__search" href="#!"></a><i class="fa-solid fa-magnifying-glass" style="color: #ea4c33;"></i></li>
                            <h1 class="site-title">Hard Lines</h1></li>
                            <a class="title-list__icons" href="#!"></a><i class="fa-regular fa-user" style="color: #ea4c33;"></i></li>
                            <a class="cart" href="#!">Cart: 0</a></li>
                        </div>
                    </ul>
                </header>
            </div>
        </article>

  <!-- hero -->
        <article class="component">
            <h3 class="component__name">Main Hero</h3>
            <div class="component__img">
                <img
                    srcset="../hardlines-exercise1/landing/christmas-hero.png 2x"
                    src="../hardlines-exercise1/landing/christmas-hero.png"
                    alt="hardlines coffee main hero"
                >
            </div>
            <div class="component__code">
  <!-- hero -->
            <section class="hero">
                <div class="container">
                    <img class="hero-img" src="https://hard-lines.co.uk/cdn/shop/files/Nadolig-Llawen-Banner-1_e4f8eef2-f7ba-4674-982a-b7550f4d1265.jpg?v=1699609920&width=1500" alt="Christmas coffee">
                    <div class="quote-on">
                        <h2 class="hero-quote">Christmas Blend Has Landed!</h2>
                        <p class="hero-quote2">Bigger, bolder, and cheekier than ever.</p>
                        <p class="hero-quote2">The only coffee you need this festive season!</p>
                        <a class="button-hero" href="#!">Christmas Blend</a>
                        <a class="button-hero" href="#!">Gifts & Bundles</a>
                        <div class="cartoonhover">
                            <img class="cartoon1" src="https://hard-lines.co.uk/cdn/shop/files/HARD-LINES_WINK-2023-_6.gif?v=1684247309&width=1500" alt="HardLines Mascot">
                        </div>
                        <!--
                        <div class="cartoonhover">
                            <img class="cartoon2" src="https://hard-lines.co.uk/cdn/shop/files/HARD-LINES_WINK-2023-_4-1.png?v=1688393273&width=1070" alt="HardLines Mascot">
                        </div>
                        -->
                    </div>
                </div>
            </section>
            </div>
        </article>


  <!-- first quote -->

        <article class="component">
            <h3 class="component__name">Shop Now Quote Section</h3>
            <div class="component__img">
                <img
                    srcset="../hardlines-exercise1/Good-coffe-made-easy.png 2x"
                    src="../hardlines-exercise1/Good-coffe-made-easy.png"
                    alt="hardlines coffee main quote shop now"
                >
            </div>
            <div class="component__code">
  <!-- first quote -->
                <div class="shop-section">
                    <h3 class="quote1">Good Coffee Made Easy!</h3>
                    <h3 class="quote2">Sourcing, roasting & sharing delicious coffee for all.</h3>
                    <a class="button-shopnow" href="!#">Shop Now</a>
                </div>
            </div>
        </article>


    <!-- Christmas Bundle -->

        <article class="component">
            <h3 class="component__name">Christmas Bundles Section</h3>
            <div class="component__img">
                <img
                    srcset="../hardlines-exercise1/christmas-bundle/christmas-bundle-sample.png 2x"
                    src="../hardlines-exercise1/christmas-bundle/christmas-bundle-sample.png"
                    alt="hardlines coffee main quote shop now"
                >
            </div>
            <div class="component__code">
  <!-- Christmas Bundle -->
                <section class="best-sellers">
                    <h2 class="title">Christmas Gifts & Bundles</h2>
                    <div class="flat-list">
                        <article class="post">    
                            <li class="post post1">
                                <div class="nav__arrows">
                                <a class="nav__arrows-left" href="#!"><i class="fa-solid fa-circle-chevron-right fa-rotate-180"></i></a>
                                </div>
                                <a href="#!" class="post__blend-item">
                                <img src="https://hard-lines.co.uk/cdn/shop/files/Hard-Lines-Nadolig-Llawen-2023.png?v=1698066931&width=165" alt="house party blend coffee bag" class="post__blend-image">
                                <h3 class="post__blend-name">House Party</h3>
                                <h4 class="post__blend-price">From $12.00</h4>
                                </a>  
                            </li>
                            </article>
                
                            <article class="post">    
                            <li class="post post2">
                                <a href="#!" class="nav-bar__item">
                                <img src="https://hard-lines.co.uk/cdn/shop/files/V60-Bundle-Hard_Lines-clear_ba7df5bf-3a65-4f28-a4a2-18f754a4ebcc.png?v=1699630561&width=940" alt="house party blend coffee bag" class="post__blend-image">
                                <h3 class="post__blend-name">Coffee Club Subscription</h3>
                                <h4 class="post__blend-price">From $14.00</h4>
                                </a>  
                            </li>
                            </article>
                
                            <article class="post">    
                            <li class="post post3">
                                <a href="#!" class="nav-bar__item">
                                <img src="https://hard-lines.co.uk/cdn/shop/files/Tonys-Pouch-Hard-Lines-clear.png?v=1699627894&width=360" alt="house party blend coffee bag" class="post__blend-image">
                                <h3 class="post__blend-name">Colombia El Carmen</h3>
                                <h4 class="post__blend-price">From $15.00</h4>
                                </a>  
                            </li>
                            </article>
                
                            <article class="post">    
                            <li class="post post4">
                                <a href="#!" class="nav-bar__item">
                                <img src="https://hard-lines.co.uk/cdn/shop/files/Aeropress-Bundle-Hard_Lines-clear.png?v=1699627961&width=360" alt="house party blend coffee bag" class="post__blend-image">
                                <h3 class="post__blend-name">House Party Pods</h3>
                                <h4 class="post__blend-price">From $9.00</h4>
                                </a>  
                                <div class="nav__arrows">
                                <a class="nav__arrows-right" href="#!"><i class="fa-solid fa-circle-chevron-right"></i></a>
                                </div>
                            </li>
                            </article>
                        </div>
                    </section>



            </div>
        </article>




    </body>
</html>