<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="main.css" rel="stylesheet" />
        <link href="css/normalize.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://use.typekit.net/tzc3fwh.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Fuggles&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ab21451a32.js" crossorigin="anonymous"></script>

        <title>Hardlines Components</title>
    </head>

    <body>
        <h1>Web Components</h1>
        <h2>Typography Defaults</h2>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <div class="component__img">
                <img
                    srcset="../hardlines exercise1/landing/main nav.png 2x"
                    src="../hardlines exercise1/landing/main nav.png"
                    alt="hardlines coffee main nav"
                >
            </div>
            <div class="component__code">
                <!--Discount Bar-->
                <h3 class="discount">&#10024 20% Off Your First Subscription Use SAVE20 &#10024</h3>

                <!--Nav-->
                <header class="navbar">
                    <ul class="nav-list">
                        <li class="nav-list__item"> <a href="#!">Subscriptions </a></li>
                        <li class="nav-list__item"> <a href="#!">Shop </a></li>
                        <li class="nav-list__item"> <a href="#!">About Us</a></li>
                        <li class="nav-list__item"> <a href="#!">Locations</a></li>
                        <li class="nav-list__item"> <a href="#!">Wholesale</a></li>
                    </ul> 
                        <div class="title-list">
                            <a class="title-list__search" href="#!"></a><i class="fa-solid fa-magnifying-glass" style="color: #ea4c33;"></i></li>
                            <h1 class="site-title">Hard Lines</h1></li>
                            <a class="title-list__icons" href="#!"></a><i class="fa-regular fa-user" style="color: #ea4c33;"></i></li>
                            <a class="cart" href="#!">Cart: 0</a></li>
                        </div>
                    </ul>
                </header>

            </div>
        </article>
    </body>
</html>