@font-face {
    font-family: SignPainterSlant;
    src: url(../fonts/SignPainterHouseSlant_Regular/SignPainterHouseSlant_Regular.ttf);
}

@font-face {
    font-family: Ginto;
    src: url(../fonts/ginto-font-family/ABCGintoNormalVariable-Trial-BF651b7b7af3067.ttf);
}

:root {
  margin: 0;
  padding: 0;
  --brand-orange: #ea4c33;
  --brand-tan: #f1e3ca;
  --text-white: #ffffff;
  --font-sans-serif: "Assistant", sans-serif;
  --font-serif: "Lora", serif;
  --font-cursive: "Caveat", cursive;
  --font-gelica: "gelica", sans-serif 
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    max-width: 1300px;
}

.gelica {
    font-family: var(--font-gelica);
    font-size: 20px;
}

.signpainter {
    font-family: SignPainterSlant;
    font-size: 20px;
}

.ginto {
    font-family: Ginto;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--brand-orange);
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid #ccc;
    overflow-x: auto;
}

.component__code {
    border: 1px solid #ccc;
    font-family: var(--font-sans-serif);
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    background-color: #f1e3ca;
}

/* Discount Bar */
.discount {
    color: var(--text-white);
    background: var(--brand-orange);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-family: Ginto;
}

/* Nav */
.nav-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-list__item {
    border: 1px solid var(--brand-orange);
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
    font-family: var(--font-serif);
    font-size: 16px;
    font-weight: 500;
}

/* Logo Bar */
.nav-title {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
}

.title-list {
    display: grid;
    grid-template-columns: .4fr 5fr .185fr .3fr;
    grid-template-areas: 
    "left-icon heading account cart";
    margin: 15px;
}

.title-list__search {
    grid-area: left-icon;
    grid-row: 2;
    margin: 0;
    padding: 0;
}

.fa-magnifying-glass {
    font-size: 30px;
    align-self: center;

}

.fa-user {
    font-size: 25px;
    align-self: center;
}

.site-title {
    color: var(--brand-orange);
    margin: 0;
    grid-area: heading;
    place-self: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 35px;
}

.title-list__icons {
    grid-row: 2;
    justify-self: end;
    align-items: center;
}

.account {
    grid-area: account;
}

.cart {
    padding: 4px;
    border: 2.5px solid var(--brand-orange);
    border-radius: 7px;
    grid-area: cart;
    align-self: center;
    text-transform: uppercase;
    font-style: italic;
    font-family: SignPainterSlant;
    font-size: 18px;
}

.cart:hover {
    color: var(--text-white);
    background-color: var(--brand-orange);
}

/* HERO */
.container {
  margin: 15px;
  position: relative;
  height: 700px;
}

.container img{
  border-radius: 10px;
  position: absolute;
}

.quote-on {
  position: absolute;
  color: var(--text-white);
  top: 30px;
  left: 40px;
}

.hero {
  position: relative;
}

.hero-img {
    height: 665px;
    width: 1300px;
    object-fit: none;
}

.hero-quote {
  font-family: var(--font-gelica);
  font-size: 50px;
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 10px;
  line-height: .98;
}

.hero-quote2 {
  font-family: Ginto;
  font-size: 16px;
  line-height: .3;
  font-weight: 100;
  padding-bottom: 10px;
}

.button-hero{
  color: var(--text-white);
  text-transform: uppercase;
  border-bottom: 2px solid var(--text-white);
  margin: 10px 10px 5px 0;
  letter-spacing: 2px;
  font-family: Ginto;
  font-size: 13px;
  font-weight: 800;
}

.cartoon1 {
    max-height: 200px;
    position: absolute;
    top: 433px;
    left: -38px;
}

/* Shop Now Quote Section */
.shop-section {
    text-align: center;
    color: var(--brand-orange);
    max-width: 35rem;
    margin: auto;
    padding: 0 1rem;
    margin-bottom: 150px;
    margin-top: 150px;
  }
  
  .quote1 {
    font-style: italic;
    font-size: 40px;
    margin-bottom: 0;
    line-height: .95;
    font-weight: 40;
    font-family: var(--font-gelica);
    font-weight: 200; 
  }
  
  .quote2 {
    font-size: 40px;
    margin-top: 0;
    line-height: .95;
    font-weight: 400;
    font-family: var(--font-gelica);
    font-style: normal;
    font-weight: 200;
  }
  
  .button-shopnow {
    border-bottom: 2px var(--brand-orange) solid;
    letter-spacing: 2px;
    font-size: 13px;
    font-family: Ginto;
    font-weight: 800;
    letter-spacing: 2.75px;
    text-transform: uppercase;
  }

  /* Christmas and Best Sellers section */
.best-sellers {
    max-width: 1300px;
}

  .title {
    font-family: var(--font-gelica);
    color: var(--brand-orange);
    text-align: center;
    font-size: 40px;
    margin: 3.5vw;
    font-weight: 300;
  }
  
  .flat-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
  }
  
  .flat-list > * {
    flex: 1;
  }
  
  .post {
    position: relative;
  }

  .post__blend-image {
    max-height: 400px;
  }

    /* Text under coffe bag */
.post__blend-name {
    font-size: 28px;
    font-family: Ginto;
    font-weight: 800;
    margin-bottom: 0;
  }
  
  .post__blend-price {
    text-transform: uppercase;
    font-size: 22px;
    padding: 0;
    margin-top: 10px;
    font-family: SignPainterSlant;
    font-style: italic;
    letter-spacing: .8px;
    font-weight: lighter;
  }
  
  /* Image on Hover */
  .post:hover img{
    max-width: 105%;
  }
  
  /* Nav Arrows */
  .nav__arrows-left , .nav__arrows-right {
    color: var(--brand-orange);
    height: 5vw;
  }
  
  .nav__arrows-left {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 30px;
  }
  
  .nav__arrows-right {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 30px;
  }

  .banner {
    background-color: var(--brand-orange);
    color: var(--brand-tan);
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: SignPainterSlant;
    font-size: 26px;
    padding: 10px;
  }

  .hero-quote2 {
    color: var(--brand-tan);
    font-family: var(--font-gelica);
    font-weight: 500;
    font-size: 46px;
    max-width: 600px;
    line-height: normal;
    margin-bottom: 20px;
  }
  
  .button-shopnow__pic {
    border-bottom: var(--brand-tan) 2px solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--brand-tan);
    margin-top: 0;
    padding-top: 0;
}
  
  .hero-img {
    height: 665px;
    width: 1300px;
    object-fit: cover;
  }
  
  /* Featured Section */

.featured {
    background-color: #fad171;
    height: 190px;
    justify-content: center;
    align-items: center;
    width: 1300px;
  }
  
  .featured h2 {
    font-size: 22px;
    align-self: center;
    padding-left: 0;
    margin-left: 0;
    font-family: Gelica;
    font-size: 22px;
  }

  .featured-article {
    width: 200px;
    border: #ea4c33 2px solid;
  }

  /* What customers are saying section */

.center {
    margin-left: 170px;
    margin-right: 170px;
    color: var(--brand-orange);
    text-align: center;
  }
  
  .title-sans {
    font-family: sans-serif;
    font-size: 46px;
  }
  
  .title-serif {
    font-family: var(--font-gelica);
    font-size: 46px;
  }
  
  .center p {
    font-family: var(--font-gelica);
    font-size: 16px;
  }
  
  .input {
    font-family: var(--font-gelica);
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f5c4a5;
    color: #f5c4a5;
  }
  
  ::placeholder {
    color: var(--brand-orange);
  }